
FE/src/main.tsx
BE/src/.env
*.pyc
BE/src/Main/tests/__pycache__/test_avg_fee.cpython-310.pyc
generators/students_courses_0.sql
generators/students_courses.sql
generators/students_courses_1.sql
generators/students_courses_3.sql
generators/teachers.sql
generators/students_courses_2.sql
generators/students.sql
generators/delete_fks.sql
generators/create_fks.sql
generators/courses.sql
